
   body{
    background-color: ecedf3;
}

/* -------------------------------------------------------------- */


   #container{
       background-color: white;
       height: 700px;
       width: 700px;

       
       
       position: relative;
       top: 90px;
       left: 100px;
       margin-left: 400px;
       float: left;
       
       background: rgba( 253, 253, 253, 0.8 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 12px );
-webkit-backdrop-filter: blur( 12px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
   }

/* -------------------------------------------------------------- */

      #formHeading{
           float: left;
           width: 700px;    
           text-align: center;
           border-bottom: 1px solid #080808;
       }

       #formHeading h1{
         margin-bottom: 0px;
         color: #000000;
     }

     #formHeading p{
         margin-top: 10px;
         color: #000000;
         font-size: 20px;
     }
/* ----------------------------------------------------------------------*/

 #nameBox,
 #emailBox,
 #passwordBox,
 #confirmPasswordBox{
      margin-top: 20px;
      margin-bottom: 20px;
      float: left;
      width: 700px;
      border: none;   

 }

 #nameBox label,
 #emailBox label,
 #passwordBox label,
 #confirmPasswordBox label{
     margin-left: 10%;
     margin-bottom: 20px;
    font-size: 23px;
    color: #020202;
 }

 #nameBox input,
 #emailBox input,
 #passwordBox input,
 #confirmPasswordBox input{
     font-size: x-large;
     display: block;
     width: 80%;
     margin-left: 10%;
     margin-top: 10px;
     border: 0;
    outline: 0;
    border-bottom: 2px solid blue;
 }

/* ----------------------------------------------------------------------*/

 

/* ----------------------------------------------------------------------*/

#login{
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}


 #login a{
     text-decoration: none;
     color: #2174e0;
 }

 #login a:hover{
     text-decoration: underline;
 }


 #signup{
    width: 500px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #2e6da4ee;
    cursor: pointer;
    position: relative;
    left: 100px;
    z-index: 0;
    border-radius: 10px;
 }

 #signup:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-1px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
 }

 #signup:active {
    color:#2e6da4ee;
}

#signup:active:after {
    background: transparent;
}

#signup:hover:before {
    opacity: 1;
}

#signup:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:#2e6da4ee;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}