@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
   body{
    background-color: ecedf3;
}

/* -------------------------------------------------------------- */


   #container{
       background-color: white;
       height: 470px;
       width: 500px;
       position: relative;
       top: 200px;
       left: 150px;
       margin-left: 400px;
       float: left;
       border: 1px solid #2e6da4;
       font-family: 'Raleway', sans-serif;
       background: rgba( 54, 71, 172, 0.55 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9px );
-webkit-backdrop-filter: blur( 9px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
   }
   
/* -------------------------------------------------------------- */
#containerHeadingBox{
    background-color: white;
    width: 400px;
    margin-left: 50px;
    float: left;
    text-align: center;
}

h1{
    color: #ffffff;

    margin: 10px 130px;
   
}



/* -------------------------------------------------------------- */


 #emailBox,
 #passwordBox{
      margin-top: 20px;
      margin-bottom: 20px;
      float: left;
      width: 500px;    

 }

 #emailBox label,
 #passwordBox label{
     margin-left: 10%;
     margin-bottom: 20px;
    font-size: 23px;
    color: #f8f8f8;
 }

 #emailBox input,
 #passwordBox input{
     font-size: x-large;
     display: block;
     width: 80%;
     margin-left: 10%;
     margin-top: 10px;
 }

/* ----------------------------------------------------------------------*/
 
    #forgotBox{
        float: left;
        width: 500px;
        text-align: right;
    }

      #forgotBox a{
        text-decoration: none;
        color: #2e6da4e0;
        font-size: 18px;
        margin-right: 10%;
    }

     #forgotBox a:hover{
        text-decoration:underline;
        color: #2e6da4;
    }
    

/* ----------------------------------------------------------------------*/


 #login{
    margin-top: 15px;
    margin-left: 10%;
    position: relative;
    font-size: x-large;
    text-align: center;
    width: 80%;
    height: 40px;
    color: white;
    background-color: #2e6da4ee;
    cursor: pointer;
 }


 #button:hover{
     background-color: #2e6da4;

 }

 #button{
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #2e6da4ee;
    cursor: pointer;
    position: relative;
    left: 130px;
    z-index: 0;
    border-radius: 10px;
 }

 #button:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-1px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
 }

 #button:active {
    color:#2e6da4ee;
}

#button:active:after {
    background: transparent;
}

#button:hover:before {
    opacity: 1;
}

#button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:#2e6da4ee;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* ----------------------------------------------------------------------*/

#signup{
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}


 #signup a{
     text-decoration: none;
     color: #fbfcfdd7;
 }

 
 #signup a:hover{
     text-decoration: underline;
     color: #2e6da4;
 }

 #goBackLink{
     margin-top: 10px;
     display: block;
 }